[defaults]
inventory             = /home/ali/LAMP-Stack-with-Ansible/inventory
forks                 = 5
remote_user           = ali
ask_pass              = False
roles_path            = /home/ali/LAMP-Stack-with-Ansible/roles:/usr/share/ansible/roles
collections_paths     = ~/.ansible/collections:/home/ali/LAMP-Stack-with-Ansible/collections:/usr/share/ansible/collections
host_key_checking     = False
deprecation_warnings  = False

[privilege_escalation]
become=True
become_method=sudo
become_user=root
become_ask_pass=False
